# UNIVERSIDAD NACIONAL AUTONOMA DE MÉXICO

## FACULTAD DE ESTUDIOS SUPERIORES ARAGÓN

## INGENIERIA EN COMPUTACIÓN

## MINERIA DE DATOS
## ALUMNOS:
* DOMINGUEZ VILLALOBOS RICARDO
* DUARTE GUTIERREZ RODRIGO YAEL

In [3]:
# Hacemos la impprtación de pandas para poder mostrar el CSV y poder partir de este punto
# El CSV se encuentra en la misma carpeta que el archivo .ipynb
import pandas as pd

df = pd.read_csv('AirQualityUCI.csv')
df

                                                                                                            Date;Time;CO(GT);PT08.S1(CO);NMHC(GT);C6H6(GT);PT08.S2(NMHC);NOx(GT);PT08.S3(NOx);NO2(GT);PT08.S4(NO2);PT08.S5(O3);T;RH;AH;;
10/03/2004;18.00.00;2            6;1360;150;11                 9;1046;166;1056;113;1692;1268;13 6;48 9;0                                                7578;;
10/03/2004;19.00.00;2;1292;112;9 4;955;103;1174;92;1559;972;13 3;47                             7;0  7255;;                                                NaN
10/03/2004;20.00.00;2            2;1402;88;9                   0;939;131;1140;114;1555;1074;11  9;54 0;0                                                7502;;
10/03/2004;21.00.00;2            2;1376;80;9                   2;948;172;1092;122;1584;1203;11  0;60 0;0                                                7867;;
10/03/2004;22.00.00;1            6;1272;51;6                   5;836;131;1205;116;1490;1110;11  2;59 6;0                                                7888;;
...                                                                                                                                                        ...
;;;;;;;;;;;;;;;;                 NaN                           NaN                              NaN  NaN                                                   NaN
                                                                                                     NaN                                                   NaN
                                                                                                     NaN                                                   NaN
                                                                                                     NaN                                                   NaN
                                                                                                     NaN                                                   NaN

[9471 rows x 1 columns]

Como podemos observar el CSV se encuentra con varias *Fallas*, por lo que deberemos limpiarlo primero para poder proseguir con nuestro analisis, lo que debemos de limpiar antes de proseguir sera lo siguiente:
* Tipos de datos
* Datos faltantes 
* Columnas vacias